// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
{
    background-color: #c4a6d9;
    color: #009999;
}

